// Import page-specific CSS files here.
@import "home";
@import "new";
@import "show";



a:not([href]):not([class]) {
  color: white;
}

.btn-ghost {
  color: #045868;
  padding: 8px 24px;
  border-radius: 4px;
  border-color: #045868;
  margin-bottom: 30px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn-ghost:hover {
  opacity: 1;
}

.cars-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 16px;
 }


 .card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left: 25px;
}

 .card-trip-booking {
  overflow: hidden;
  background: white;
  margin-left: 260px;
  margin-right: 100px;
  margin-top: 60px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
 }
.card-trip-booking > img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
#map-pin {
  height: 25px;
  width: 25px;
}

#map-pin-button {
  height: 35px;
  width: 35px;
}
#map-button {
  background-color: #934A7F;
}
#map-button:hover {
  background-color: #612a52;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .cars-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

// .cars-info .card-trip-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }

.details-container {
  margin: 10px;
}

h4 {
  margin-left: 15px;
}

.nameofpage {
  color: #045868;
  margin-top: 10px;
  margin-left: 25px;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  box-shadow: none;
  border-color: #045868;
  background: #045868;
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn-flat:hover {
  background:linear-gradient(#046578, #06657f);
  color: white;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.btn-new-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  box-shadow: none;
  border-color: #045868;
  background: #045868;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  width: 100%;
}

.btn-new-flat:hover {
  background:linear-gradient(#046578, #06657f);
  color: white;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}


.container-left, .container-right
{
  margin: 1em 0;
  display: flex;
	align-items: center;
  flex-shrink: 0;
}

.container-left
{
  margin-right: 380px;
  float: left;
}

.container-right
{
  margin-left: auto;
  float: right;
}
.container-left::after,
.container-right::after
{
  content: "";
  display: block;
  clear: both;
}
