.form-container {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 64px;
    border-radius: 30px;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
}

.titlefont {
    font-family: "Work Sans", "Helvetica", "sans-serif";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:black;
}
