<h1>My Dashboard</h1>
<h3><%= "You haven't book any cars yet!" if @user.bookings.empty? %></h3>
<% @user.bookings.each do |booking| %>
  <h2><%= booking.car.model %></h2>
  <h4>from: <%= booking.start_date %></h4>
  <h4>to: <%= booking.end_date %></h4>
  <hr>
<% end %>
