.navbar-lewagon {
  justify-content: space-between;
  background: #045868;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  display: flex;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.nav-link {
  margin-right: 50px;
}

h1 {
  color: white;
  font-family: zapfino;
  font-size: 20px
}

p {
  margin-top: 30px;
}
